{% extends 'base.html.twig' %}

{% block title %}{{ formation.nom }}{% endblock %}

{% block body %}
    <h1 class="text-dark">{{ formation.nom }}</h1>

    <hr class="text-dark" style="opacity: unset;">

    <div class="mb-3 row">
        {% if is_granted('ROLE_REFERENT') %}
            <div class="col-2">
                <a href="{{ path('formation_update', {'formation': formation.id}) }}" class="btn btn-warning">
                    <i class="fa fa-pencil"></i> Modifier
                </a>
            </div>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include 'formation/_delete_form.html.twig' %}
        {% endif %}
    </div>

    <section class="row">
        <img src="https://picsum.photos/id/{{ formation.id }}/300/200" alt="illustration" class="col-4">

        <div class="col-8 gx-5">
            <dl class="row">
                <dt class="col-4">Code de la formation</dt>
                <dd class="col-8">{{ formation.code }}</dd>

                <dt class="col-4">Lieu de la formation</dt>
                <dd class="col-8">{{ formation.ville }}</dd>

                <dt class="col-4">Date de début de la formation</dt>
                <dd class="col-8">{{ formation.startedAt is empty ? "" : formation.startedAt|date('d/m/Y') }}</dd>

                <dt class="col-4">Date de fin de la formation</dt>
                <dd class="col-8">{{ formation.finishedAt is empty ? "" : formation.finishedAt|date('d/m/Y') }}</dd>

                <dt class="col-4">Référent de la formation</dt>
                {% if formation.referent %}
                    <dd class="col-8">{{ formation.referent.lastname }} {{ formation.referent.firstname }}</dd>
                {% else %}
                    <dd class="col-8">Désignation à venir</dd>
                {% endif %}
            </dl>
        </div>
    </section>
{% endblock %}

