{% set route_name = app.request.attributes.get('_route') %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CEFIM</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'home_index' %}active{% endif %}" href="{{ path('home_index') }}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link {% if route_name starts with 'formation_' %}active{% endif %}" href="{{ path('formation_index')}}">Formations</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {% if route_name starts with 'filiere_' %}active{% endif %}" href="{{ path('filiere_index')}}">Filières</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'home_contact' %}active{% endif %}" href="{{ path('home_contact') }}">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if route_name == 'home_about' %}active{% endif %}" href="{{ path('home_about') }}">A propos</a>
                    </li>
                </ul>

                <div class="d-flex">
                    {% if app.user %}
                        <a href="#" class="btn btn-secondary me-sm-2">Mon profil</a>
                        <a href="{{ path('app_logout') }}" class="btn btn-dark my-2 my-sm-0">Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('register') }}" class="btn btn-secondary me-sm-2">S'inscrire</a>
                        <a href="{{ path('app_login') }}" class="btn btn-dark my-2 my-sm-0">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>